<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      layout:decorate="~{layouts/app.html}">
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <span>My Articles</span>
            </div>
            <div class="card-body">
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                    </div>
                    <div class="dataTable-container">
                        <table class="dataTable-table">
                            <thead>
                            <tr>
                                <th class="data-sortable" style="width: 5%;">번호</th>
                                <th class="data-sortable" style="width: 64%;">제목</th>
                                <th class="data-sortable" style="width: 5%;">조회수</th>
                                <th class="data-sortable" style="width: 8%;">작성자</th>
                                <th class="data-sortable" style="width: 10%;">작성일</th>
                                <th class="data-sortable" style="width: 4%;"></th>
                                <th class="data-sortable" style="width: 4%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="article, iStat : ${articles}">
                                <td><span th:text="${article.id}"></span></td>
                                <td><a th:href="@{/articles/{id}(id = ${article.id})}"><span
                                        th:text="${article.title}"></span></a></td>
                                <td><span th:text="${article.hit}"></span></td>
                                <td><span th:text="${article.username}"></span></td>
                                <td><span th:text="${article.creationDate}"></span></td>
                                <td>
                                    <form th:action="@{/articles/put/{id} (id=${article.id})}" th:method="get">
                                        <button type="submit" class="manage_btn">수정
                                        </button>
                                    </form>
                                <td>
                                    <form th:action="@{/articles/{id} (id=${article.id})}" th:method="delete">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="manage_btn">삭제
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <select class="dataTable-selector" th:onchange="'window.location.href = \'' + @{/accounts/articles} + '?size=\' + this.value '">
                            <option value="5" th:selected="${articles.size} == 5">5</option>
                            <option value="10" th:selected="${articles.size} == 10">10</option>
                            <option value="15" th:selected="${articles.size} == 15">15</option>
                            <option value="20" th:selected="${articles.size} == 20">20</option>
                        </select>
                        <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                                <li class="dataTable-pagination" th:if="${articles.totalPages > 0}" th:each="pageNums : ${pageNums}" th:class="${pageNums==articles.number + 1} ? active">
                                    <a th:href="@{/accounts/articles(page=${pageNums}, size=${articles.size})}" th:text="${pageNums}"></a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>