<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      layout:decorate="~{layouts/app.html}">
<body class="sb-nav-fixed">
<div layout:fragment="content" id="layoutSidenav_content">
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <span>My Articles</span>
            </div>
            <div class="card-body">
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                    </div>
                    <div class="dataTable-container">
                        <table class="dataTable-table">
                            <thead>
                            <tr>
                                <th data-sortable style="width: 5%;">번호</th>
                                <th data-sortable style="width: 62%;">제목</th>
                                <th data-sortable style="width: 5%;">조회수</th>
                                <th data-sortable style="width: 8%;">작성자</th>
                                <th data-sortable style="width: 10%;">작성일</th>
                                <th data-sortable style="width: 5%;"></th>
                                <th data-sortable style="width: 5%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list : ${articles}">
                                <td><span th:text="${list.id}"></span></td>
                                <td><a th:href="@{/articles/{id}(id = ${list.id})}"><span
                                        th:text="${list.title}"></span></a></td>
                                <td><span th:text="${list.hit}"></span></td>
                                <td><span th:text="${list.username}"></span></td>
                                <td><span th:text="${list.creationDate}"></span></td>
                                <td>
                                    <form th:action="@{/articles/put/{id} (id=${list.id})}" th:method="get">
                                        <button type="submit"
                                                style="border: 0; background-color: transparent; width: 60px; height: 10px; color: #0a53be">수정
                                        </button>
                                    </form>
                                <td>
                                    <form th:action="@{/articles/{id} (id=${list.id})}" th:method="delete">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit"
                                                style="border: 0; background-color: transparent; width: 60px; height: 10px; color: #0a53be">삭제
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>