<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      xmlns:th="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/app.html}">
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <span>My Comments</span>
            </div>
            <div class="card-body">
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                    </div>
                        <table class="dataTable-table">
                            <thead>
                            <tr>
                                <th class="data-sortable" style="width: 5%;">번호</th>
                                <th class="data-sortable" style="width: 66%;">내용</th>
                                <th class="data-sortable" style="width: 10%;">작성자</th>
                                <th class="data-sortable" style="width: 10%;">작성일</th>
                                <th class="data-sortable" style="width: 5%;">게시글</th>
                                <th class="data-sortable" style="width: 4%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment, iStat : ${comments}">
                                <td><span th:text="${comment.id}"></span></td>
                                <td><span th:text="${comment.content}"></span></td>
                                <td><span th:text="${comment.username}"></span></td>
                                <td><span th:text="${comment.creationDate}"></span></td>
                                <td><a th:href="@{/articles/{id}(id = ${comment.articleId})}"><span
                                        th:text="${comment.articleId}"></span></a></td>
                                <td>
                                    <form th:action="@{/comments/{id}/{articleId} (id=${comment.id}, articleId=${-1})}" th:method="delete">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="manage-btn">삭제
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <select class="dataTable-selector" th:onchange="'window.location.href = \'' + @{/accounts/comments} + '?size=\' + this.value '">
                            <option value="5" th:selected="${comments.size} == 5">5</option>
                            <option value="10" th:selected="${comments.size} == 10">10</option>
                            <option value="15" th:selected="${comments.size} == 15">15</option>
                            <option value="20" th:selected="${comments.size} == 20">20</option>
                        </select>
                        <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                                <li class="dataTable-pagination" th:if="${comments.totalPages > 0}" th:each="pageNums : ${pageNums}" th:class="${pageNums==comments.number + 1} ? active">
                                    <a th:href="@{/accounts/comments(page=${pageNums}, size=${comments.size})}" th:text="${pageNums}"></a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>