<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      layout:decorate="~{layouts/app.html}">
<body class="sb-nav-fixed">
<div layout:fragment="content" id="layoutSidenav_content">
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <span>My Comments</span>
            </div>
            <div class="card-body">
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                    </div>
                    <div class="dataTable-container">
                        <table class="dataTable-table">
                            <thead>
                            <tr>
                                <th data-sortable style="width: 5%;">번호</th>
                                <th data-sortable style="width: 65%;">내용</th>
                                <th data-sortable style="width: 10%;">작성자</th>
                                <th data-sortable style="width: 10%;">작성일</th>
                                <th data-sortable style="width: 5%;">게시글</th>
                                <th data-sortable style="width: 5%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment, iStat : ${comments}">
                                <td><span th:text="${comment.id}"></span></td>
                                <td><span th:text="${comment.content}"></span></td>
                                <td><span th:text="${comment.username}"></span></td>
                                <td><span th:text="${comment.creationDate}"></span></td>
                                <td><a th:href="@{/articles/{id}(id = ${comment.articleId})}"><span
                                        th:text="${comment.articleId}"></span></a></td>
                                <td>
                                    <form th:action="@{/comments/{id} (id=${comment.id})}" th:method="delete">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit"
                                                style="border: 0; background-color: transparent; width: 60px; height: 10px; color: #0a53be">삭제
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <div class="dataTable-info"></div>
                        <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                                <li class="dataTable-pagination" th:if="${comments.totalPages > 0}" th:each="pageNums : ${pageNums}" th:class="${pageNums==comments.number + 1} ? active">
                                    <a th:href="@{/accounts/comments(page=${pageNums}, size=${comments.size})}" th:text="${pageNums}"></a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>