<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/app.html}">
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <span>My Account</span>
            </div>
            <div class="card-body">
                <div> Profile <img id="profile" class="profile-img" th:src="@{${account.getProfileImage()}}"/><br>
                    <form th:method="put" enctype="multipart/form-data" th:action="@{/accounts/profileImage}" onchange="showbutton()">
                        <input type="hidden" name="_method" value="put">
                        <input type="file" name="profile" id="file">
                        <button id="fileSubmit" class="btn btn-primary" type="submit" hidden onclick="loadImg()">완료</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        function showbutton(){
            var btn = document.getElementById("fileSubmit")
            btn.hidden = false
        }
        function loadImg(){
            var img = document.getElementById("profile")
            var url = img.attr("src")
            img.removeAttribute("src").attr("src", url)
        }
    </script>
</th:block>
</html>