<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      layout:decorate="~{layouts/app.html}">
<body>
<div layout:fragment="content" id="layoutSidenav_content">
    <div class="card-body">
        <form th:action="@{/articles}" method="post">
            <div class="form-floating mb-3">
                <input class="form-control" id="subject" type="text" name="subject" placeholder="Account"/>
                <label for="subject">subject</label>
            </div>
            <textarea id="summernote" type="text" name="content" rows="10"></textarea>
            <button class="btn btn-primary" type="submit">완료</button>
            <a class="btn btn-primary" href="/home">취소</a>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <link rel="stylesheet" href="/summernote/summernote-lite.css">
    <script src="/summernote/summernote-lite.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 500,
                focus: true,
                toolbar: [
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['paragraph']],
                    ['insert', ['picture', 'link', 'video']],
                    ['view', ['codeview']]
                ],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica neue', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana', 'Tahoma', 'Courier New', '맑은 고딕', '굴림', '돋움'],
                fontNamesIgnoreCheck: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica neue', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana', 'Tahoma', 'Courier New', '맑은 고딕', '굴림', '돋움'],
            });
        })
    </script>
</th:block>
</body>
</html>