<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/app.html}">
<div layout:fragment="content">
    <div class="container px-md-5">
        <div class="py-md-5">
            <nav class="navbar mb-2 mx-md-2">
                <a class="nav-link">
                    최신순
                </a>
                <select class="nav-link me-auto">
                    <option value="오늘">오늘</option>
                    <option value="오늘">이번 주</option>
                    <option value="오늘">이번 달</option>
                    <option value="오늘">올해</option>
                </select>
            </nav>
            <div class="article-grid" id="article-grid">
                <div class="card article-card m-md-2 shadow-lg" id="article-card" hidden>
                    <div class="article-header">header</div>
                    <img class="article-thumbnail" id="article-thumbnail" src=""/>
                    <div class="card-body" id="article-body">
                        <h4 id="article-title">제목</h4>
                        <p class="article-summary" id="article-summary">요약내용</p>
                    </div>
                    <div class="card-footer" id="article-footer">
                        footer
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/app/home/scroll.js}"></script>
    <script th:src="@{/js/app/articles/comment.js}"></script>
    <script th:src="@{/js/app/articles/modal.js}"></script>
</th:block>
</html>