<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      layout:decorate="~{layouts/app.html}">
<div layout:fragment="content">
    <div class="container px-md-5">
        <div class="py-md-5">
            <div class="card">
                <form th:action="@{/articles}" method="post" th:object="${articleDetail}">
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="title" th:field="*{title}" maxlength="100" type="text"
                                   name="title" placeholder="title" required/>
                            <label for="title">제목을 입력하세요</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="summary" th:field="*{summary}" maxlength="150" type="text"
                                   name="summary" placeholder="summary" required/>
                            <label for="summary">글에 대해 간단하게 소개해주세요</label>
                        </div>
                        <textarea class="form-floating" id="summernote" th:field="*{content}"
                                  th:text="${articleDetail.getContent()}" type="text" name="content" rows="10"
                                  maxlength="8000"></textarea>
                        <button class="btn btn-primary mt-3" type="submit">완료</button>
                        <a class="btn btn-primary mt-3" href="/">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 500,
                focus: true,
                toolbar: [
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['paragraph']],
                    ['insert', ['picture', 'link', 'video']],
                    ['view', ['codeview']]
                ],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica neue', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana', 'Tahoma', 'Courier New', '맑은 고딕', '굴림', '돋움'],
                fontNamesIgnoreCheck: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica neue', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana', 'Tahoma', 'Courier New', '맑은 고딕', '굴림', '돋움'],
            });
        })
    </script>
</th:block>
</html>