<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/app.html}">
<div layout:fragment="content">
    <div class="container px-md-5">
        <div class="py-md-5">
            <div class="card">
                <div class="card-header navbar">
                    <div>
                        <span th:text="${articleDetail.title}"></span>
                    </div>
                    <a class="nav-link ms-auto">
                        <form
                                th:if="${#authentication.getName()} == ${articleDetail.username}"
                                th:action="@{/articles/{id} (id=${articleDetail.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="manage-btn">삭제
                            </button>
                        </form>
                    </a>
                    <a class="nav-link">
                        <form
                                th:if="${#authentication.getName()} == ${articleDetail.username}"
                                th:action="@{/articles/{id}/edit (id=${articleDetail.id})}" th:method="get">
                            <button type="submit" class="manage-btn">수정
                            </button>
                        </form>
                    </a>
                </div>
                <div class="card-body">
                    <div class="article-box">
                        <div class="article-header">
                            <img class="article-profile-img" th:src="@{'/'+${articleDetail.getUserprofile()}}"/>
                            <div class="article-element-left"><span th:text="${articleDetail.username}"></span></div>
                            <div class="article-element-right">작성일 : <span
                                    th:text="${articleDetail.creationDate}"></span></div>
                            <div class="article-element-right">마지막 수정일 : <span
                                    th:text="${articleDetail.updateDate}"></span>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <hr class="one">
                        <div class="article-body">
                            <div th:utext="${articleDetail.content}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="mt-3" th:action="@{/comments/{articleId} (articleId = ${articleDetail.id})}" th:method="post"
                  sec:authorize="isAuthenticated()" th:object="${comment}">
                <div class="input-group">
                    <input class="form-control" maxlength="100" id="content" type="text" name="content"
                           placeholder="댓글을 남겨주세요 (최대 100자)" th:field="*{content}" required>
                    <button id="comment-btn" type="submit" class="btn btn-primary">등록</button>
                </div>
            </form>
            <div class="comment-box" th:each="comment : ${articleDetail.comments}">
                <div class="comment-header">
                    <img class="comment-profile-img" th:src="@{'/'+${comment.getUserprofile()}}"/>
                    <div class="comment-element-left"><span th:text="${comment.username}"></span></div>
                    <div class="comment-element-right"><span th:text="${comment.creationDate}"></span></div>
                </div>
                <div class="comment-body">
                    <span th:text="${comment.content}"></span>
                    <form class="comment-element-right"
                          th:if="${#authentication.getName()} == ${comment.username}"
                          th:action="@{/comments/{id}/{articleId} (id=${comment.id}, articleId=${articleDetail.id})}"
                          th:method="delete">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="manage-btn">삭제
                        </button>
                    </form>
                </div>
                <hr class="one">
            </div>
        </div>
    </div>
</div>
</html>