<div class="modal fade" id="article-modal-show" tabindex="1">
    <button style="display: inline; color: aliceblue" type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
    <div class="modal-dialog article-dialog">
        <div class="row article-box">
            <div class="modal-content article-img col">
                <img src="/profiles/thumbnail.jpeg">
            </div>
            <div class="modal-content article-content col">
                <div class="modal-header">
                    <div class="article-element-left"><span th:text="${articleDetail.username}"></span></div>
                    <div class="article-element-right">작성일 : <span
                            th:text="${articleDetail.creationDate}"></span></div>
                    <div class="article-element-right">마지막 수정일 : <span
                            th:text="${articleDetail.updateDate}"></span>
                    </div>
                    <a class="nav-link ms-auto">
                        <form
                                th:if="${#authentication.getName()} == ${articleDetail.username}"
                                th:action="@{/articles/{id} (id=${articleDetail.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="manage-btn ms-auto">삭제
                            </button>
                        </form>
                    </a>
                    <button th:if="${#authentication.getName()} == ${articleDetail.username}" class="manage-btn"
                            th:onclick="openArticleEditFormModal('[[${articleDetail.id}]]')">수정
                    </button>
                </div>
                <div class="modal-body article-content-box">
                    <!--                    <b><span th:text="${articleDetail.title}"></span></b>-->
                    <div class="article-p my-2" th:utext="${articleDetail.content}"></div>
                    <div class="container comment">
                        <div class="comment-box row my-2" th:each="comment : ${articleDetail.comments}">
                            <img class="rounded-circle col-2 comment-profile-img" style="display: inline-block" src="/profiles/thumbnail.jpeg"/>
                            <div class="col-11">
                                <div><span th:text="${comment.username}"></span></div>
                                <span th:text="${comment.content}"></span>
                                <form class="comment-element-right"
                                      th:if="${#authentication.getName()} == ${comment.username}"
                                      th:action="@{/comments/{id}/{articleId} (id=${comment.id}, articleId=${articleDetail.id})}"
                                      th:method="delete">
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit" class="manage-btn">삭제
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form style="width: 100%" th:action="@{/comments/{articleId} (articleId = ${articleDetail.id})}"
                          th:method="post"
                          th:object="${comment}">
                        <div class="input-group">
                            <input class="form-control" maxlength="100" id="content" type="text" name="content"
                                   placeholder="댓글을 남겨주세요 (최대 100자)" th:field="*{content}" required>
                            <button class="btn btn-primary" type="submit"
                                    th:onclick="postComment('[[${comment}]]', '[[${article.id}]]')">등록
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
