<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      layout:decorate="~{layouts/app.html}">
<head>
    <title>Promptech Free Board</title>
</head>
<body class="sb-nav-fixed">
<div layout:fragment="content" id="layoutSidenav_content">
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <h1>자유 게시판입니다</h1>
            <a th:href="@{/articles/news}">최근 게시글 보러 가기</a><br>
            <a th:href="@{/articles/}">전체 게시글 보러 가기</a><br>
        </div>
        <form th:action="@{/articles/new}" method="get">
            <button class="btn btn-primary" type="submit">글쓰러 가기</button>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/datatables-simple-demo.js"></script>
</th:block>
</body>
</html>