<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq/net/nz/thymleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/app.html}">
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <span th:text="${tableTitle}"></span>
            </div>
            <div class="card-body">
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                    </div>
                    <div class="dataTable-container">
                        <table id="datatablesSimple" class="dataTable-table">
                            <thead>
                            <tr>
                                <th style="width: 5%;">번호</th>
                                <th style="width: 50%;">제목</th>
                                <th style="width: 5%;">조회수</th>
                                <th style="width: 10%;">작성자</th>
                                <th style="width: 15%;">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="article, it : ${articles}" th:onclick="|location.href='@{/articles/{id}(id = ${article.id})}'|">
                                <td><span th:text="${it.index+1}"></span></td>
                                <td><span th:text="${article.title}"></span></td>
                                <td><span th:text="${article.hit}"></span></td>
                                <td><span th:text="${article.username}"></span></td>
                                <td><span th:text="${article.creationDate}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <div class="dataTable-dropdown">
                            <select class="dataTable-selector" th:onchange="'window.location.href = \'' + @{/articles} + '?size=\' + this.value '">
                                <option value="5" th:selected="${articles.size} == 5">5</option>
                                <option value="10" th:selected="${articles.size} == 10">10</option>
                                <option value="15" th:selected="${articles.size} == 15">15</option>
                                <option value="20" th:selected="${articles.size} == 20">20</option>
                            </select>
                        </div>
                        <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                                <li class="dataTable-pagination" th:if="${articles.totalPages > 0}"
                                    th:each="pageNums : ${pageNums}"
                                    th:class="${pageNums==articles.number + 1} ? active">
                                    <a th:href="@{/articles(page=${pageNums}, size=${articles.size})}"
                                       th:text="${pageNums}"></a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/articles/new}" method="get">
            <button class="btn btn-primary" type="submit">글쓰기</button>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/datatables-simple-demo.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</th:block>
</html>