<body class="sb-nav-fixed" th:fragment="topnav" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-brand ps-3"><a class="navbar-brand ps-3" th:href="@{/}">Promptech Free Board</a></div>
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>

    <div sec:authorize="isAuthenticated()" class="text-white"><span sec:authentication="name"></span>님 반갑습니다.</div>

    <button sec:authorize="isAnonymous()" class="nav-link" style="border: 0; background-color: transparent" th:onclick="'location.href=\'' + @{/login} + '\''">Login</button>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit" sec:authorize="isAuthenticated()" class="nav-link" style="border:0; background-color: transparent">Logout</button>
    </form>
</div>
</body>