<div class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
     th:fragment="topnav" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar-brand ps-3">
        <a class="navbar-brand ps-3" th:href="@{/}">Promptech Free Board</a>
    </div>
    <div class="d-md-inline-block ms-auto"></div>

    <div sec:authorize="isAuthenticated()" class="text-white"><span sec:authentication="name"></span>님 반갑습니다.</div>

    <button sec:authorize="isAnonymous()" class="auth-btn" th:onclick="'location.href=\'' + @{/login} + '\''">Login</button>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit" sec:authorize="isAuthenticated()" class="auth-btn">Logout</button>
    </form>
</div>
