.article-nav {
  height: 50px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, auto));
  grid-gap: 10px;
  align-items: stretch;
}

.aritlce-submmit {
  float: right;
  border: 0 !important;
  background-color: #ffe9f4;
  color: #1a1e21;
}

.article-card:hover {
  border-color: #0a53be;
}

.article-card {
  .header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    height: 60px !important;
  }

  .profile-img {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: 0;
    padding: 0;
  }

  .profile-name {
    cursor: pointer;
  }

  .dropbox {
    cursor: pointer;
  }

  .body {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
  }

  .thumbnail {
    cursor: pointer;
    min-height: 300px;
    min-width: 300px;
  }

  .summary {
    font-size: 0.875rem;
    color: #949494;
    font-family: sans-serif;
  }
}

.modal-close-btn {
  width: 42px;
  height: 42px;
  background-color: transparent;
}

.article-dialog {
  width: 80vw;
  height: 87vh;
  margin: 5vh 10vw !important;
  max-width: inherit !important;
  align-items: stretch;
  max-height: 100%;
}

.article-box {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;

  .img-box {
    background-color: #949494;
    width: 600px !important;
    height: 600px !important;
  }

  .img-upload {
    color: #1a1e21;
  }

  .canvas{
    width: 600px;
    height: 600px;
  }

  .content {
    .img {
      background: transparent;
    }

    .main {
      border-radius: 0 4px 4px 0 !important;
      max-height: 100%;
    }

    .scrollable {
      overflow-y: scroll;
    }

    .p {
      padding: 0 1rem !important;
      height: 20%;
      font-size: 0.95rem;
      color: #424949;
      font-family: sans-serif;
    }
  }
}

.comment-container {
  padding: 0 1rem !important;
}

.comment-more-box{
  display: flex;
  justify-content: center;
}

.comment {
  padding: 0;
  margin: 0;

  .wd-100 {
    width: 100%;
  }

  .profile-img {
    cursor: pointer;
    max-width: 42px !important;
    max-height: 42px !important;
    padding: 0 !important;
  }

  .profile-name {
    cursor: pointer;
    padding: 0 1rem !important;
  }

  .content {
    font-size: 0.95rem;
    color: #424949;
    font-family: sans-serif;
  }
}

.comment-box {
  //
  //.body{
  //  padding: 0.5rem 1rem;
  //  margin-bottom: 0;
  //}
}