.article-nav {
  height: 50px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, auto));
  grid-gap: 10px;
  align-items: stretch;
}

.aritlce-submmit {
  float: right;
  border: 0 !important;
  background-color: #ffe9f4;
  color: #1a1e21;
}

.article-card:hover {
  border-color: #0a53be;
}

.article-card .header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  height: 60px !important;
}
.article-card .profile-img {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border: 0;
  padding: 0;
}
.article-card .profile-name {
  cursor: pointer;
}
.article-card .dropbox {
  cursor: pointer;
}
.article-card .body {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
}
.article-card .thumbnail {
  cursor: pointer;
  min-height: 300px;
  min-width: 300px;
}
.article-card .summary {
  font-size: 0.875rem;
  color: #949494;
  font-family: sans-serif;
}

.modal-close-btn {
  width: 42px;
  height: 42px;
  background-color: transparent;
}

.article-dialog {
  width: 80vw;
  height: 87vh;
  margin: 5vh 10vw !important;
  max-width: inherit !important;
  align-items: stretch;
  max-height: 100%;
}

.article-box {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
.article-box .img-box {
  background-color: #949494;
  width: 600px !important;
  height: 600px !important;
}
.article-box .img-upload {
  color: #1a1e21;
}
.article-box .canvas {
  width: 600px;
  height: 600px;
}
.article-box .content .img {
  background: transparent;
}
.article-box .content .main {
  border-radius: 0 4px 4px 0 !important;
  max-height: 100%;
}
.article-box .content .scrollable {
  overflow-y: scroll;
}
.article-box .content .p {
  padding: 0 1rem !important;
  height: 20%;
  font-size: 0.95rem;
  color: #424949;
  font-family: sans-serif;
}

.comment-container {
  padding: 0 1rem !important;
}

.comment-more-box {
  display: flex;
  justify-content: center;
}

.comment {
  padding: 0;
  margin: 0;
}
.comment .wd-100 {
  width: 100%;
}
.comment .profile-img {
  cursor: pointer;
  max-width: 42px !important;
  max-height: 42px !important;
  padding: 0 !important;
}
.comment .profile-name {
  cursor: pointer;
  padding: 0 1rem !important;
}
.comment .content {
  font-size: 0.95rem;
  color: #424949;
  font-family: sans-serif;
}

.manage-btn {
  border: 0;
  background-color: transparent;
  color: #0a53be;
}

.auth-btn {
  display: block;
  padding: 0.5rem 1rem;
  color: #f5c2c7;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.auth-btn:hover {
  color: #0a53be !important;
}

.nav-btn {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffe9f4;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-btn:hover {
  color: #0a53be !important;
}

.note-btn.dropdown-toggle:after {
  content: none;
}

.navbar-brand {
  color: #ffe0e5;
}

.nav-link {
  color: #ffe0e5;
}

.mt-10 {
  margin-top: 10em;
}

.btn-primary {
  color: #ffe9f4 !important;
  background-color: #1a1e21 !important;
  border-color: #ffe9f4 !important;
  border-width: 3px !important;
}

.card-header {
  background-color: #ffe9f4 !important;
}

.card-footer {
  background-color: #ffe9f4 !important;
}

.ptb-topnav {
  background-color: #1a1e21;
}

.sb-topnav {
  background-clip: padding-box !important;
  border-color: #f8d7da !important;
  border-width: 5px !important;
}

.sb-sidenav-menu {
  background-color: #f8d7da !important;
  padding-top: 20px !important;
  border-left: 3px solid #1a1e21;
  border-right: 3px solid #1a1e21;
  border-bottom: 3px solid #1a1e21;
}

.sb-topnav .navbar-brand {
  width: 225px;
  margin: 0;
  color: #f8d7da !important;
}

.error-msg {
  color: red;
  font-size: small;
}

/*# sourceMappingURL=app.css.map */
